<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Gerenciamento</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
        <img src="../../../assets/rota-de-voo.png" class="rounded-circle">
      </div>
      <h3 class="fs-2 text-body-emphasis">Voos</h3>
      <p>Veja todos os voos disponiveis, um voo especifico, crie um voo ou altere um voo já existente.</p>
      <a href="#" class="icon-link">
        Gerenciar
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
        <img src="../../../assets/passagem-de-aviao.png" class="rounded-circle">
      </div>
      <h3 class="fs-2 text-body-emphasis">Passagens</h3>
      <p>Obtenha uma passagem pelo cpf do passageiro, obtenha uma nova passagem</p>
      <a href="#" class="icon-link">
        Gerenciar
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
        <img src="../../../assets/aeroporto.png" alt="">
      </div>
      <h3 class="fs-2 text-body-emphasis">Aeroportos</h3>
      <p>Liste todos os aeroportos cadastrados, as classes dos voos e os tipo de classes</p>
      <a href="#" class="icon-link">
        Gerenciar
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
  <p>Por conta do tempo não foi possivel implementar todas as funcionalidades, mas todas as rotas existem:</p>
  <a href="https://horizon-webapi.azurewebsites.net/swagger/index.html" target="_blank"><b>API</b></a>
</div>
