*{
    height: 100%;
}
.bg-ssa {

    height: 100%;
    width: 40%;

    

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/ssa4k.jpg");
}